.card {
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(235,235,235);
}

img {
    height: 20rem;
    width: 20rem;
    display: grid;
}

.img-home {
    display: flex;
    justify-content: center;
    height: 200px;
}

.small-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 16px;
    border-radius: 8px;
  }
  
p {
  white-space: pre-wrap;
  text-align: center;
  width: 100%;
}
